<div id="<%= dom_id book %>">
  <p>
    <strong>Title name:</strong>
    <%= book.title_name %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= book.author_name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= book.comment %>
  </p>

</div>
