<div class="card" style="width: 18rem;" id="<%= dom_id book %>">
<div class="card-body">
    <h5 class="card-title"><%= book.title_name %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= book.author_name %></h6>
    <p class="card-text">Comment: <%= book.comment %></p>
  </div>  
</div>
</br>
